@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.color {
  background-color: #1A0B2E;
}

.white {
  color: white;
}
.hero-frist-back-img {
  background-image: url("assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-position-y: -40px;

}

.hero-button {
  margin-left: 260px;
  margin-bottom: 20px;
  padding: 8px 16px;
  
}

.hero-section {
  background-image: url("assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px;
/* animation: round 4s  1s infinite linear; */

}
/* .footer-content{
  /* bg-[url('/assets/footer-bg.png')]  bg-origin-content  bg-cover bg-center bg-no-repeat */
  /*background-image: url('assets/footer-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  
  
} */
@keyframes round {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }
}



